<!DOCTYPE html>
<html >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Welcome to Github User Chat Room</h1>
                <h1>Log In</h1>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        To use the App, you must be signed in...
                    </h3>
                </div>
                <div class="panel-body">
                    <p> Sign in with: </p>
                    <ul>
                        <li>
                            <a href="/auth/login/outlook">Outlook</a>
                        </li>
                        <li>
                            <a href="/auth/login/github">GitHub</a>
                        </li>
                        <li>
                            <a href="/auth/login/google">Google</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>