
<!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Github User Chat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href=""> -->
        <style>
            input { display: block; }
            ul {list-style: none;}
        </style>
    </head>
    <body>
        <h1>Live Testing of Chat App</h1>
        <ul id="messages"></ul>
        <form id="chatbox">
            <textarea></textarea>
            <input type="submit" value="send" />
        </form>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script>
                $(function () {
                    var socket = null;
                    var msgBox = $("#chatbox textarea");
                    var messages = $("#messages");
                    $("#chatbox").submit(function () {
                        if (!msgBox.val()) return false;
                        if (!socket) {
                            alert ("Error: There is no socket connection available.");
                            return false;
                        }
                        socket.send(msgBox.val());
                        msgBox.val("");
                        return false;
                    });
                    if (!window["WebSocket"]){
                        alert (" Error: Your browser does not support web sockets. ")
                    } else {
                        // Opened the socket and add event handlers
                        // for tw key events: onclose and onmessage
                        // Host is a value of http.request and allows data injection.
                        socket = new WebSocket("ws://{{.Host}}/room");
                        socket.onclose = function() {
                            alert("Connection has been closed. ");
                        }
                        socket.onmessage = function (e) {
                            messages.append($("<li>").text(e.data));
                        }
                    }

                });
            </script>
    </body>
</html>